@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    background: #f8fafc;
    color: #0f172a;
}

input, textarea {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}